<div class="container p-5">
    <div class="d-flex flex-column align-items-center">
            <h2 class="m-2">Fail login</h2>
            <p class="m-2">Los datos ingresados no son correctos, por favor verifique sus datos.</p>
            <div class="m-2">
                <a class="btn btn-outline-success" href="/login">Volver al login</a>
            </div>
        </form>
    </div>
</div>