<div class="container">
    <div class="v-form" data-aos="zoom-out-up" data-aos-duration="2000">
        <form id="formUsers" class="form" method="post" action="/api/sessions/restorePassword">
            <h2>Actualizar contraseña!</h2>
            <p type="Email:">
                <input type="text" name="email" id="formEmail" placeholder="Email" required>
            </p>
            <p type="Password:">
                <input type="password" name="password" id="formPassword" placeholder="Password" required>
            </p>
            <button>
                <input type="submit" value="Send">
            </button>
        </form>
    </div>