<div class="container p-5">
    <div class="d-flex flex-column align-items-center">
            <h2 class="m-2">Correo enviado!</h2>
            <p class="m-2">Revisa tu casilla de correos, en ella enccontraras los pasos a seguir para recuperar tu cuenta.</p>
            <div class="m-2">
                <a class="btn btn-outline-success" href="/login">Volver al login</a>
            </div>
        </form>
    </div>
</div>