<div class="container p-5">
    <div class="d-flex flex-column align-items-center">
            <h2 class="m-2">Correo invalido!</h2>
            <p class="m-2">El correo proporcionado no se encuentra registrado en nuestra base de datos.</p>
            <div class="m-2">
                <a class="btn btn-outline-danger" href="/forgetPassword">Volver al recuperdor de contraseñas</a>
            </div>
        </form>
    </div>
</div>