<div>
    <h1>Bienvenido a la ruta raiz de mi proyecto</h1>
    <h3>Nombre: {{name}} <br>
        Curso: {{course}} <br>
        Comision: {{comision}} <br>
        Desafio: {{desafio}}
    </h3>
</div>