<div class="container p-5">
    <div class="d-flex flex-column align-items-center">
            <h2 class="m-2">Fail register</h2>
            <p class="m-2">El email que esta proporcionando ya existe!</p>
            <div class="m-2">
                <a class="btn btn-outline-success" href="/register">Volver al register</a>
            </div>
        </form>
    </div>
</div>