<div>
    <h1>Bienvenido, iniciaste sesion como:</h1>
    <h3>Nombre: {{user.first_name}} <br>
        Apellido: {{user.last_name}} <br>
        edad: {{user.age}} <br>
        email: {{user.email}}
    </h3>
</div>